
overrides/config/AppliedEnergistics2/items.csv
overrides/config/AppliedEnergistics2/CustomRecipes.cfg
overrides/config/AppliedEnergistics2/CustomRecipes.cfg
overrides/config/AppliedEnergistics2/VersionChecker.cfg
