# Configuration file

enabled {
    B:"advancedrocketry:planks"=false
    B:"appliedenergistics2:quartz_block"=false
    B:"appliedenergistics2:sky_stone_brick"=false
    B:"astralsorcery:blockblackmarble"=true
    B:"astralsorcery:blockmarble"=false
    B:"botania:biomestonea"=false
    B:"botania:biomestoneb"=false
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=false
    B:"botania:quartztypedark"=false
    B:"botania:quartztypeelf"=false
    B:"botania:quartztypelavender"=false
    B:"botania:quartztypemana"=false
    B:"botania:quartztypered"=false
    B:"botania:quartztypesunny"=false
    B:"darkutils:pearl_block"=true
    B:"immersiveengineering:treated_wood"=true
    B:"integrateddynamics:crystalized_chorus_brick"=true
    B:"integrateddynamics:crystalized_menril_brick"=true
    B:"integrateddynamics:menril_planks"=true
    B:"quark:biome_cobblestone"=true
    B:"quark:duskbound_block"=true
    B:"quark:elder_prismarine"=true
    B:"quark:midori_block"=true
    B:"quark:soul_sandstone"=true
    B:"quark:stained_planks"=true
    B:"quark:world_stone_bricks"=true
    B:"thaumcraft:plank_greatwood"=true
    B:"thaumcraft:plank_silverwood"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


